ScriptUI Panels/ShadeThrower/ShadeThrower v1.1.jsx
ScriptUI Panels/ShadeThrower/ShadeThrower1.1_Presets/.DS_Store
ScriptUI Panels/ShadeThrower/ShadeThrower1.1_Presets/3D_Icon.png
ScriptUI Panels/ShadeThrower/ShadeThrower1.1_Presets/3D_IconR.png
ScriptUI Panels/ShadeThrower/ShadeThrower1.1_Presets/Flat_Icon.png
ScriptUI Panels/ShadeThrower/ShadeThrower1.1_Presets/Flat_IconR.png
ScriptUI Panels/ShadeThrower/ShadeThrower1.1_Presets/Noise_Icon.png
ScriptUI Panels/ShadeThrower/ShadeThrower1.1_Presets/Noise_IconR.png
ScriptUI Panels/ShadeThrower/ShadeThrower1.1_Presets/ShadeThrower_3D.ffx
ScriptUI Panels/ShadeThrower/ShadeThrower1.1_Presets/ShadeThrower_FLAT.ffx
ScriptUI Panels/ShadeThrower/ShadeThrower1.1_Presets/ShadeThrower_GLOBAL.ffx
ScriptUI Panels/ShadeThrower/ShadeThrower1.1_Presets/ShadeThrower_NOISE.ffx
